body {
  margin: 0;
}

h1 {
  line-height: 0.1;
}

.subtitle {
	font-size: 1.5rem;
}

/* Title & Buttons */
.title-container {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #140f3b;
  text-align: center;
  color: white;
  padding: 10% 0 6% 0;
}

.sub-bold {
  font-weight: 600;
  font-size: 2rem;
}

#title-text {
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 40px;
}

#title-buttons {
  text-align: center;
  padding: 0 10% 11%;
  background-color: #140f3b;
}

.btn {
  font-family: "Montserrat";
  font-size: 50px;
  border-radius: 5rem;
  font-weight: 300;
	text-shadow:
	-2px 2px 4px #000,
	2px 2px 4px #000,
	2px -2px 4px #000,
	-2px -2px 4px #000;
}

.btn-primary {
  background-color: #140f3b;
  border-width: 3px
}

.btn-primary {
  background-color: #140f3b;
  border-width: 3px
}

.pizza-sub-btn {
  background-image: url('images/pizza-sub50.png') !important;
  background-size: cover;
}

.pizza-sub-btn:hover {
	background-image: url('images/pizza-sub75.png') !important;
  background-size: cover;
}

.bars-diners-btn {
  background-image: url('images/bars-diners50.png') !important;
  background-size: cover;
}

.bars-diners-btn:hover {
  background-image: url('images/bars-diners75.png') !important;
  background-size: cover;
}

.chinese-btn {
  background-image: url('images/chinese50.png') !important;
  background-size: cover;
}

.chinese-btn:hover {
  background-image: url('images/chinese75.png') !important;
  background-size: cover;
}

.fast-food-btn {
  background-image: url('images/fast-food50.png') !important;
  background-size: cover;
}

.fast-food-btn:hover {
  background-image: url('images/fast-food75.png') !important;
  background-size: cover;
}

.treats-btn {
  background-image: url('images/treats50.png') !important;
  background-size: cover;
}

.treats-btn:hover {
  background-image: url('images/treats75.png') !important;
  background-size: cover;
}

.coffee-btn {
  background-image: url('images/coffee50.png') !important;
  background-size: cover;
}

.coffee-btn:hover {
  background-image: url('images/coffee50.png') !important;
  background-size: cover;
}

/* bellow is the webkit for the texts border on the buttons */
.food2 {
  text-decoration: none;
  color: #fff;
  /* -webkit-text-stroke: 0.01px black; */
}

.restaurant-column {
  margin: .5rem 0 .5rem 0;
}

/* Restaurants */
.genre-titles {
  margin-bottom: 10rem;
  padding: 8% 0 30px;
  font-size: 3rem;
  font-family: "Montserrat";
  background-color: #1d1463;
  color: #fff;
}

.restaurants {
  font-family: "Montserrat";
  font-size: 2.25rem;
}

#restaurant-cards {
  text-align: center;
  padding: 0 10% 0;
}

.food-page
{
height: 40rem;
}
