body {
  margin: 0;
}

h1 {
  line-height: 0.1;
}

.subtitle {
	font-size: 1.5rem;
}

/* Title & Buttons */
.title-container {
  font-family: "Montserrat";
  font-weight: 300;
  background-image: linear-gradient(#000, #140f3b);
  text-align: center;
  color: white;
  padding: 10% 0 6% 0;
}

.sub-bold {
  font-weight: 600;
  font-size: 2rem;
}

#title-text {
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 40px;
}

#title-buttons {
  text-align: center;
  padding: 0 10% 11%;
  background-image: linear-gradient(#140f3b, #121b5c);
}

.map {
	opacity: .1;
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 60px;
	left: -0.75rem;
	z-index: 0;
}

.btn {
  font-family: "Montserrat";
  font-size: 3.6rem;
  border-radius: 5rem;
  font-weight: 600;
	text-shadow:
	-2px 2px 4px #000,
	2px 2px 4px #000,
	2px -2px 4px #000,
	-2px -2px 4px #000;
	z-index: 1;
}

.btn:hover {
	text-shadow:
	-1px 1px 2px #fff,
	1px 1px 2px #fff,
	1px -1px 2px #fff,
	-1px -1px 2px #fff;
}

.btn-primary {
	border-color: #fff;
  background-color: #140f3b;
  border-width: 3px
}

.btn-primary:hover {
	border-color: #000;
}

.pizza-sub-btn {
  background-image: url('images/pizza-sub75.png');
  background-size: cover;
}

.pizza-sub-btn:hover {
	background-image: url('images/pizza-sub50.png');
  background-size: cover;
}

.bars-diners-btn {
  background-image: url('images/bars-diners75.png');
  background-size: cover;
}

.bars-diners-btn:hover {
  background-image: url('images/bars-diners50.png');
  background-size: cover;
}

.chinese-btn {
  background-image: url('images/chinese75.png');
  background-size: cover;
}

.chinese-btn:hover {
  background-image: url('images/chinese50.png');
  background-size: cover;
}

.fast-food-btn {
  background-image: url('images/fast-food75.png');
  background-size: cover;
}

.fast-food-btn:hover {
  background-image: url('images/fast-food50.png');
  background-size: cover;
}

.treats-btn {
  background-image: url('images/treats75.png');
  background-size: cover;
}

.treats-btn:hover {
  background-image: url('images/treats50.png');
  background-size: cover;
}

.coffee-btn {
  background-image: url('images/coffee75.png');
  background-size: cover;
}

.coffee-btn:hover {
  background-image: url('images/coffee50.png');
  background-size: cover;
}

/* bellow is the webkit for the texts border on the buttons */
.food2 {
  text-decoration: none;
  color: #fff;
  /* -webkit-text-stroke: 0.01px black; */
}

.restaurant-column {
  margin: .5rem 0 .5rem 0;
}

/* Restaurants */
.genre-titles {
  margin-bottom: 10rem;
  padding: 8% 0 30px;
  font-size: 3rem;
  font-family: "Montserrat";
  background-color: #1d1463;
  color: #fff;
  display: block;
}

.restaurant-title
{
  text-align: center;
  font-family: sans-serif;
}

.restaurants {
  font-family: "Montserrat";
  font-size: 2.25rem;
}

#restaurant-cards {
  text-align: center;
  padding: 0 2% 0;
}

.food-page
{
height: 40rem;
font-size: 1.8rem;
}

.review-box
{
width: 20%;
height: 50%;
border-color: black;
border-width: 1px;
float: right;
font-size: 1.2rem
}
