body {
  margin: 0;
}

h1 {
  line-height: 0.1;
}

/* Title */

.title-container {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #140f3b;
  text-align: center;
  color: white;
  padding: 10% 0 6% 0;
}

.sub-bold {
  font-weight: 600;
  font-size: 1.3rem;
}

#title-text {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 40px;
}

#title-buttons {
  text-align: center;
  padding: 0 10% 25%;
  background-color: #140f3b;
}

.btn {
  font-family: "Work Sans";
  font-size: 30px;
  border-radius: 5rem;
}

.btn-primary {
  background-color: #140f3b;
  border-width: 3px
  }

/*.pizza-btn {
  background-image: url('https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/hjznkvic/b07fa72c-d2c1-4bf8-a97b-f4fd02aa03c6.jpg') !important;
  background-size: cover;
}
*/

.restaurant-column {
  margin: .5rem 0 .5rem 0;
}

.food2
{
  text-decoration: none;
  color: #fff
}
