body {
  margin: 0;
}

h1 {
  line-height: 0.1;
}

/* Title */

.title-container {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #140f3b;
  text-align: center;
  color: white;
  padding: 70px 0 70px 0;
}

.sub-bold {
  font-weight: 600;
  font-size: 1.3rem;
}

#title-text {
    font-weight: 600;
    font-size: 3.5rem;
}

.restaurant-type {
  background-color: #140f3b;
  text-align: center;
  color: white;
  padding: 5px 0 5px 0;
}

.restaurant-column {
  padding: 10px 0 10px 0;
  font-family: "Montserrat";
  font-weight: 300;
}

.restaurant-column:hover {
  font-weight: 600;
  background-color: #1c1657;
}

.type-item {
  margin-top: .5rem;
}
