body {
  margin: 0;
}

h1 {
  line-height: 0.1;
}

/* Title */

.title-container {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #140f3b;
  text-align: center;
  color: white;
  padding: 10% 0 6% 0;
}

.sub-bold {
  font-weight: 600;
  font-size: 1.3rem;
}

#title-text {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 40px;
}

#title-buttons {
  text-align: center;
  padding: 0 10% 25%;
  background-color: #140f3b;
}

.btn {
  font-family: "Work Sans";
  font-size: 30px;
  border-radius: 5rem;
}

.restaurant-column {
  margin: .5rem 0 .5rem 0
}
